html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

html,
body {
   display: grid;
   width:   100%;
   height:  100%;
   margin:  0;
   padding: 0;
}

body {
   background:  #fff url('../img/subtle_grunge_@2X.png'); /* Background pattern from Subtle Patterns */
   font-family: 'Coda', cursive;
}

.container {
   display:        flex;
   /*justify-content: center;*/
   align-items:    center;
   flex-direction: column;
}

h1, h2 {
   font-family: Spinnaker, sans-serif;
   font-weight: 300;
   text-align:  center;
   text-shadow: 3px 3px 10px rgba(46, 61, 73, 0.5);
}

h1 {
   font-size:     32px;
   margin-bottom: 0;
}

h2 {
   font-size: 24px;
   margin:    10px 0;
}

/*
 * Styles for the deck of cards
 */

.deck {
   display:               grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   /*flex-wrap:        nowrap;*/
   grid-column-gap:       5px;
   grid-row-gap:          5px;
}

.deck .card {
   width:           62px;
   height:          62px;
   background:      #232323; /*#2e3d49;*/
   font-size:       0;
   color:           #fff;
   border-radius:   5px;
   cursor:          pointer;
   display:         flex;
   justify-content: center;
   align-items:     center;
   box-shadow:      5px 5px 20px 0 rgba(46, 61, 73, 0.5);

}

.deck .card.flip {
   /** flip animation */
   transition:      0.7s;
   transform-style: preserve-3d;
   transform:       rotateY(180deg);
}

.deck .card .flamer {
   justify-content: center;
   align-self:      center;
   height:          55px;
}

.deck .card.open .flamer,
.deck .card.show .flamer,
.deck .card.match .flamer {
   display: none;
}

.deck .card.open {
   transform:  rotateY(0);
   background: #4682b4;
   cursor:     default;
}

.deck .card.show {
   font-size: 33px;
}

.deck .card.match {
   animation:  1s rubberBand;
   cursor:     default;
   background: #78a78d;
   font-size:  33px;
}

.deck .card.mismatch {
   background-color: #c00;
   animation:        1s wobble;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
   display:               grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items:           center;
   justify-content:       space-between;
   width:                 320px;
}

.game-clock {
   display:      grid;
   justify-self: center;
   align-items:  center;
   height:       100px;
}

#updateMoves,
#clockdiv,
#timeRemainingId,
#sec,
.header__panel {
   display:      grid;
   justify-self: center;
   align-items:  center;
}

#timeRemainingId {
   box-shadow:    5px 5px 20px 0 rgba(46, 61, 73, 0.5);
}

.container ul {
   padding: 0;
}

.instructions {
   cursor: pointer;
}

.stars {
   padding: 0;
   display: inline-block;
   margin:  0 5px 0 0;
}

.stars li,
.stars ul {
   list-style: none;
   display:    inline-block;
   padding:    0;
}

section.footer__panel {
   display:         inline-grid;
   width:           100%;
   justify-content: center;
}

footer.footer__panel {
   display:               grid;
   grid-template-columns: 1fr 1fr 1fr;
   width:                 280px;
   max-height:            80px;
   justify-content:       center;
}

.instructions,
.stars,
.restart {
   justify-self: center;
}

.restart {
   cursor: pointer;
}

.container.fire {
   padding-right: 0;
   padding-left:  0;
}

#overlay {
   /*//background: rgba( 0, 0, 0, .8 );*/
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 1000;
   top: 0;
   left: 0;
}

#overlay a.info-game.close {
   color: #fff;
   text-decoration: none;
   font-size: 2rem;
   font-family: Helvetica;
   border: 4px #fff solid;
   padding: 10px;
   top: 10px;
   right: 10px;
   position: absolute;
   /*//background: rgba( 255, 255, 255, .1);*/
}

#overlay a.lost-game.close {
   color: #fff;
   text-decoration: none;
   font-size: 2rem;
   font-family: Helvetica;
   border: 4px #fff solid;
   padding: 10px;
   top: 10px;
   right: 10px;
   position: absolute;
   /*//background: rgba( 255, 255, 255, .1);*/
}

#overlay a.won-game.close {
   color: #333;
   text-decoration: none;
   font-size: 2rem;
   font-family: Helvetica;
   border: 4px #333 solid;
   padding: 10px;
   top: 10px;
   right: 10px;
   position: absolute;
   /*//background: rgba( 255, 255, 255, .1);*/
}

#overlay img {
   max-width: 600px;
   margin-top: 40px;
}


.flamer a {
   min-width: 0 !important;
}

.flamer h1 {
   margin:     0 auto;
   text-align: center;
   margin-top: 70px;
}

.flame-wrap {
   -webkit-transform: translateY(0%) scale(0.40);
   -ms-transform:     translateY(0%) scale(0.40);
   transform:         translateY(0%) scale(0.40);
}

.flame-wrap {
   -webkit-transition: all .3s ease-in-out;
   transition:         all .3s ease-in-out;
}

.flame-wrap {
   margin:        0 auto;
   width:         65px;
   justify-items: center;
}

.flamer {
   background: #222;
   margin:     0 auto;
   width:      62px;
   /*width:      100%;*/
}

.flame {
   position:   absolute;
   width:      110px;
   left:       -webkit-calc(50% - 50px);
   left:       calc(50% - 50px);
   height:     120px;
   margin:     0 auto;
   background: url(../img/flameboard.png?raw=1) 0px 0px no-repeat;
}


.time-remaining {
   width:            70px;
   height:           70px;
   display:          block;
   background-color: #e06e3d;
   margin:           0 auto;
   padding:          10px;
   border-radius:    50%;
   color:            #fff;
   font-size:        22px;
   line-height:      50px;
   text-align:       center;
}

/*.modal .active {*/
   /*display: block;*/
/*}*/



@-webkit-keyframes flame-flicker {
   /* flame pulses */
   0% {
      background-position: 0px 0px;
      opacity:             .9;
   }
   25% {
      background-position: 0px 0px;
   }
   25.1% {
      background-position: -100px 0px;
   }
   50% {
      background-position: -100px 0px;
      opacity:             .6;
   }
   50.1% {
      background-position: -200px 0px;
   }
   75% {
      background-position: -200px 0px;
   }
   75.1% {
      background-position: -100px 0px;
   }
   100% {
      background-position: -100px 0px;
      opacity:             .8;
   }
}

@keyframes flame-flicker {
   /* flame pulses */
   0% {
      background-position: 0px 0px;
      opacity:             .9;
   }
   25% {
      background-position: 0px 0px;
   }
   25.1% {
      background-position: -100px 0px;
   }
   50% {
      background-position: -100px 0px;
      opacity:             .6;
   }
   50.1% {
      background-position: -200px 0px;
   }
   75% {
      background-position: -200px 0px;
   }
   75.1% {
      background-position: -100px 0px;
   }
   100% {
      background-position: -100px 0px;
      opacity:             .8;
   }
}

/* Individual Flames */
.flame1 {
   -webkit-animation: flame-flicker 1.3s infinite;
   animation:         flame-flicker 1.3s infinite;
}

.flame2 {
   -webkit-animation: flame-flicker .8s infinite;
   animation:         flame-flicker .8s infinite;
}

.flame3 {
   -webkit-animation: flame-flicker .9s infinite;
   animation:         flame-flicker .9s infinite;
}

.flame4 {
   -webkit-animation: flame-flicker 1.2s infinite;
   animation:         flame-flicker 1.2s infinite;
}

.flame5 {
   -webkit-animation: flame-flicker 1.1s infinite;
   animation:         flame-flicker 1.1s infinite;
}

.container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.flame-wrap {
   margin:   0 auto;
   position: relative;
   width:    70px;
}

/*
 * Modals
 *-------------------------------------*/
.none {
   display: none;
}

.block {
   display: block;
}

/*.modal {*/
   /*display: none;*/

   /*text-align: center;*/
   /*!*background-color: #fff;*!*/
   /*width: 100%;*/
   /*height: 100%;*/
   /*margin: 0 auto;*/
   /*padding: 10px;*/

   /*font-size: 20px;*/

   /*position: fixed;*/
   /*top: 0;*/
   /*left: 0;*/
   /*right: 0;*/
   /*bottom: 0;*/
/*}*/
.modal__info-game {
   display: none;
   background-color: #fff;

   text-align: center;
   width: 100%;
   height: 100%;
   margin: 0 auto;
   padding: 10px;

   font-size: 20px;

   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}


.modal__lost-game {
   display: none;
   background-color: #e06e3d;
   color:            #fff;

   text-align: center;
   width: 100%;
   height: 100%;
   margin: 0 auto;
   padding: 10px;

   font-size: 20px;

   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.modal__won-game {
   display: none;

   text-align: center;
   background-color: #fff;
   width: 100%;
   height: 100%;
   margin: 0 auto;
   padding: 10px;

   font-size: 20px;

   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.modal.active {
   max-width: 100%;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   flex-direction: column;

   -webkit-box-pack: center;
   justify-content: center;

   animation: 1s fadeIn;
}

.modal .loader {
   font-size: 60px;
   font-weight: 100;
   color: #7CA4D0;

   animation: 1s scaleBigText 1s;
}

.modal__info-game .loader,
.modal__lost-game .loader {
   color: #fff;

}

.modal .button {
   color: #333;
   background-color: #fff;
   box-shadow:    5px 5px 20px 0 rgba(46, 61, 73, 0.5);

   cursor: pointer;
   font-size: 18px;
   font-weight: 400;
   letter-spacing: 1px;
   padding: 16px 24px;
   width: auto;
   border-radius: 5px;
}

.modal .button:hover {
   background-color: #fff;
   color: #333;
}

#info-span,
#restart-span {
   width: 54px;
   height: 54px;
   display: grid;
   justify-items: center;
   align-items: center;
   background-color: #e06e3d;
   color:            #fff;
   border-radius: 50%;
   box-shadow:    5px 5px 20px 0 rgba(46, 61, 73, 0.5);
}



/*
 * Keyframes - from animate.css
 *-------------------------------------*/

@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes riseUp {
   from {
      -webkit-transform: translateY(0);
      transform:         translateY(0);
      visibility:        visible;
   }

   100% {
      -webkit-transform: translateY(-1750px);
      transform:         translateY(-1750px);
   }
}

@keyframes rubberBand {
   from {
      transform: scale3d(1, 1, 1);
   }

   30% {
      transform: scale3d(1.25, 0.75, 1);
   }

   40% {
      transform: scale3d(0.75, 1.25, 1);
   }

   50% {
      transform: scale3d(1.15, 0.85, 1);
   }

   65% {
      transform: scale3d(.95, 1.05, 1);
   }

   75% {
      transform: scale3d(1.05, .95, 1);
   }

   to {
      transform: scale3d(1, 1, 1);
   }
}

@keyframes wobble {
   from {
      transform: none;
   }

   15% {
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
   }

   30% {
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
   }

   45% {
      transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
   }

   60% {
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
   }

   75% {
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
   }

   to {
      transform: none;
   }
}

@keyframes scaleBigText {
   from {
      font-size: 60px;
   }

   50% {
      font-size: 120px;
   }
}

/*
 * Media Queries
 *-------------------------------------*/

@media screen and (min-width: 560px) {
   h1 {
      font-size:     42px;
      margin-bottom: 0;
   }

   h2 {
      font-size: 32px;
      margin:    10px 0;
   }

   .deck {
      grid-column-gap: 10px;
      grid-row-gap:    10px;
   }

   .deck .card {
      max-height:    125px;
      max-width:     125px;
      min-height:    125px;
      min-width:     125px;
      border-radius: 10px;
      box-shadow:    5px 5px 20px 0 rgba(46, 61, 73, 0.5);
   }

}

@media screen and (min-width: 768px) {
   body {
      font-size: 18px;
   }

   h1 {
      justify-self:  center;
      font-size:     42px;
      margin-bottom: 0;
   }

   h2 {
      justify-self: center;
      font-size:    32px;
      margin:       10px 0;
   }

   .deck {
      grid-column-gap: 10px;
      grid-row-gap:    10px;
   }

   .flame-wrap {
      -webkit-transform: translateY(0%) scale(0.55);
      -ms-transform:     translateY(0%) scale(0.55);
      transform:         translateY(0%) scale(0.55);
   }

   .deck .card {
      max-height:    125px;
      max-width:     125px;
      min-height:    125px;
      min-width:     125px;
      border-radius: 10px;
      box-shadow:    5px 5px 20px 0 rgba(46, 61, 73, 0.5);
   }

   .game-controls .block:nth-of-type(2) p {
      font-size: 16px;
   }

   header {
      justify-self: center;
      display:      inline-grid;
   }

   h1 {
      font-size:     48px;
      margin-bottom: 0;
   }

   h2 {
      justify-self: center;
      font-size:    32px;
      margin:       10px 0;
   }

   section.footer__panel {
      display:         inline-grid;
      width:           100%;
      justify-content: center;
   }

   footer.footer__panel {
      display:               grid;
      grid-template-columns: 1fr 1fr 1fr;
      width:                 520px;
      justify-content:       center;
   }

   i.fa-star {
      text-shadow: 3px 3px 10px rgba(46, 61, 73, 0.5);
   }

   .instructions,
   .stars,
   .restart {
      justify-self: center;
   }
}

@media screen and (min-width: 1280px) {

   h1 {
      justify-self:  center;
      font-size:     42px;
      margin-bottom: 0;
   }

   h2 {
      justify-self: center;
      font-size:    32px;
      margin:       10px 0;
   }

   .deck {
      grid-column-gap: 10px;
      grid-row-gap:    10px;
   }

   .deck .card {
      max-height:    125px;
      max-width:     125px;
      min-height:    125px;
      min-width:     125px;
      border-radius: 10px;
      box-shadow:    5px 5px 20px 0 rgba(46, 61, 73, 0.5);
   }

   header {
      justify-self: center;
      width:        100%;
      display:      inline-grid;
   }

   h1 {
      font-size:     48px;
      margin-bottom: 0;
   }

   h2 {
      justify-self: center;
      font-size:    32px;
      margin:       10px 0;
   }

   .deck {
      grid-column-gap: 10px;
      grid-row-gap:    10px;
   }

   .flame-wrap {
      -webkit-transform: translateY(0%) scale(0.55);
      -ms-transform:     translateY(0%) scale(0.55);
      transform:         translateY(0%) scale(0.55);
   }

   .deck .card {
      max-height:    150px;
      max-width:     150px;
      min-height:    150px;
      min-width:     150px;
      border-radius: 15px;
      box-shadow:    5px 5px 20px 0 rgba(46, 61, 73, 0.5);
   }

   .screen {
      width: 100%;
   }

   section.footer__panel {
      display: inline-grid;
      width:   100%;
   }

   footer.footer__panel {
      display:               grid;
      grid-template-columns: 1fr 1fr 1fr;
      width:                 320px;
      justify-content:       space-between;
   }

   .instructions,
   .stars,
   .restart {
      justify-self: center;
   }
}

@media screen and (min-width: 1400px) {

   header {
      justify-self: center;
      width:        100%;
      display:      inline-grid;
   }

   h1 {
      font-size:     48px;
      margin-bottom: 0;
   }

   h2 {
      justify-self: center;
      font-size:    32px;
      margin:       10px 0;
   }

   .deck {
      grid-column-gap: 10px;
      grid-row-gap:    10px;
   }

   .deck .card {
      max-height:    150px;
      max-width:     150px;
      min-height:    150px;
      min-width:     150px;
      border-radius: 15px;
      box-shadow:    5px 5px 20px 0 rgba(46, 61, 73, 0.5);
   }

   .flame-wrap {
      -webkit-transform: translateY(0%) scale(0.55);
      -ms-transform:     translateY(0%) scale(0.55);
      transform:         translateY(0%) scale(0.55);
   }

   .screen {
      width: 100%;
   }

   section.footer__panel {
      display: inline-grid;
      width:   100%;
   }

   footer.footer__panel {
      display:               grid;
      grid-template-columns: 1fr 1fr 1fr;
      width:                 680px;
      justify-content:       space-between;
   }

   .instructions,
   .stars,
   .restart {
      justify-self: center;
   }
}
